<div id="quickiebar-help" class="quickiebar-page">
	<div class="wrap">
		
		<div class="qb-header">
			<div class="qb-page-icon"></div>
			<h2 class="qb-header-text">
				<span>Getting Started Videos</span>
			</h2>
		</div>
		
		<div class="qb-main-content">
			
			<ul id="intro-videos">
				<li>
					<h6>Creating Your First Bar</h6>
					<a href="//fast.wistia.net/embed/iframe/wd62vgs1we?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/68478164786e18a19452d966ad88a2002c49faa6.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Advanced Bar Customization</h6>
					<a href="//fast.wistia.net/embed/iframe/q70yepksms?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/f6229c53cbea9bbd06d3f799ea030ed10f5ec970.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Customizing Bar Visibility</h6>
					<a href="//fast.wistia.net/embed/iframe/mnyljcs1k9?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/1582f2ebaa8f0428f1fb1b40c2816b25a00fd574.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Upgrading to PRO</h6>
					<a href="//fast.wistia.net/embed/iframe/xl4bw2ugkk?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/732c79e04f2834e47652f610ef480b9b644a1161.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Creating & Running Multiple Bars</h6>
					<a href="//fast.wistia.net/embed/iframe/giiizr5ice?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/6ac4acae829bdacaf4c10b468f693ccaf70abee8.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Utilizing Event Triggering</h6>
					<a href="//fast.wistia.net/embed/iframe/k6tsf4aqk3?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/813cc8411efbc25ac8ad0a0be7310eb42e8e64b5.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Setting Up Email Capture</h6>
					<a href="//fast.wistia.net/embed/iframe/5dmfm80yz5?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/8a7bbdb9dfc753e10032609339a4cc33d249a503.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
				<li>
					<h6>Getting More Conversions...with Conversion Cycling</h6>
					<a href="//fast.wistia.net/embed/iframe/e8l1p8b9c9?popover=true" class="wistia-popover[height=341,playerColor=7b796a,width=640]"><img src="https://embed-ssl.wistia.com/deliveries/b355d9290e03ad90caee552d6f3111721ec080e0.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=201x107" alt="" /></a>
				</li>
			</ul>
			<!--JS for wistia popover embeds-->
			<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
			
		</div><!--/.qb-main-content-->
		
		<div class="qb-sidebar-content">
			<h5>Any Questions?</h5>
			<p>Open a ticket on <a href="https://quickiebar.com/support" target="_blank">quickiebar.com</a>. We’re always happy to help you get set up and answer any questions you might have.</p>
			<a href="https://quickiebar.com/support" target="_blank"><button class="barTeal tiny extra-padding">Open a ticket</button></a>
			
			<a href="https://quickiebar.com/pricing" target="_blank"><div class="qb-sidebar-ad ad1"></div></a>
		</div><!--/.qb-sidebar-content-->
		
	</div>
</div>